@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Notices</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">EVERYONE DIED OF COVID</a>.</p>
</div>
<div class="text-left">
    <h4 class="display-10">Reservation and Search Section</h4>
    <div><input /><button>Search</button></div>
</div>

<div class="text-right">
    <h4 class="display-10">Information page</h4>
    <div><input /><button>Search</button></div>
</div>